/**
@fontface
*/
@font-face {
    font-family:sans-serif ;
    src: url("/frontend_Weather_Application/Assets/font/Super\ Chiby.ttf");
}

.main_header_div{
    background-color: rgb(91, 170, 175);
    display: flex;
    align-items:center;

    
}
.header_left_side{
    display:flex;
    align-items:center;
    width:50%;
    


}

.header_left_side_img{
    width:30%;
    height:10%;

}
.page_logo_div{

}
.header_right_side_label{
    font-size:40px;
    color:rgb(226, 228, 231);
    font-family: 'Chiby';

}
.header_right_side{
    width:50%;
    height:15%;
    display:flex;
    justify-content: right;
    align-content: center;


}
.header_right_side_input{
    cursor:text;
    border-radius:0.2rem;
    margin-right:20px;
    border:none;
    outline:none;
    background-color: rgb(148, 32, 32);
    color: rgb(0, 0, 0);
    font-size:20px;
    







}
/*body inside css*/
.middle_main_div{
    display:flex;
    background-color:blueviolet
    
    

    

}
.middle_main_div{
    background-color: rgb(71, 177, 177);
}

.img-size{
    
    width:20%;
    height:40%;
    
}
.logo_size{
   
    width:10%;
    height:5%;
}

.top_class_div{
    display:flex;
    background-color: rgb(232, 241, 231);
    justify-content: center;
    align-items:center;
    margin:80px;
    padding-left: 80px;

}
.top_left{
     display:flex;
    background-color: blueviolet;
    justify-content:left;
    align-items: start;
}
.left_side_div{
    display:flex;
    align-items:left;
    

}
.top_right{
    display:flex;
    justify-content: center;
    display:flex;
    text-align: center;
    background-color: rgb(127, 209, 95);
   
}
.bottom_class_div{
    display:flex;
    align-items:center;
    justify-content:center;
}