/**
@fontface
*/
@font-face {
    font-family:sans-serif ;
    src: url("/frontend_Weather_Application/Assets/font/Super\ Chiby.ttf");
}

.main_header_div{
    background-color: rgb(91, 170, 175);
    display: flex;
    align-items:center;

    
}
.header_left_side{
    display:flex;
    align-items:center;
    width:50%;
    


}

.header_left_side_img{
    width:30%;
    height:10%;

}
.page_logo_div{

}
.header_right_side_label{
    font-size:40px;
    color:rgb(226, 228, 231);
    font-family: 'Chiby';

}
.header_right_side{
    width:50%;
    height:15%;
    display:flex;
    justify-content: right;
    align-content: center;


}
.header_right_side_input{
    cursor:text;
    border-radius:0.2rem;
    margin-right:20px;
    border:none;
    outline:none;
    background-color: rgb(148, 32, 32);
    color: rgb(0, 0, 0);
    font-size:20px;








}